.header {
  margin-top: 50px;
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}

.backBtn {
  position: absolute;
  left: 50px;
  font-size: var(--text-lg);
  transition: border-bottom 10s;
}

.backBtn::after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -2px;
  left: 0;
  width: 0; /* começa com largura zero — invisível */
  height: 1px;
  transition: width 0.22s var(--ease-out);
}

.backBtn:hover::after {
  width: 100%;
}
