.header {
  margin-top: 50px;
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}

.backBtn {
  position: absolute;
  left: 50px;
  font-size: var(--text-lg);
  transition: border-bottom 10s;
}

.backBtn:hover {
  cursor: pointer;
  border-bottom: solid 1px white;
}
